<% @page_title = "All Stock" %>

<a href="/stock/new">Add New Stock Item</a>

<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Format</th>
    <th>Quantity</th>
    <th>Re-order At</th>
    <th>Cost (£)</th>
    <th>Price (£)</th>
    <th>Edit</th>
  </tr>
  
  <% @stock.each do |item| %>
  <tr>
    <td><%= item.artist.name %></td>
    <td><%= item.album.name %></td>
    <td><%= item.genre %></td>
    <td><%= item.format %></td>
    <td><%= item.current_stock_level %></td>
    <td><%= item.reorder_threshold %></td>
    <td><%= '%0.2f' % item.buy_price %></td>
    <td><%= '%0.2f' % item.sell_price %></td>
    <td><a href="/stock/<%= item.id %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>

<a href="/stock/new">Add New Stock Item</a>