<% @page_title = "All Stock" %>

<a href="/stock/new">Add New Stock Item</a>

<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Format</th>
    <th>Quantity</th>
    <th>Low Stock Threshold</th>
    <th>Cost (£)</th>
    <th>Price (£)</th>
    <th>Margin (%)</th>
    <th>Edit</th>
  </tr>
  
  <% @stock.each do |item| %>
  <% stock_class = "green" %>
  <% stock_class = "orange" if item.below_threshold? %>
  <% stock_class = "red" if item.out_of_stock? %>
  <tr class="<%= stock_class %>">
    <td class="txt"><%= item.artist.name %></td>
    <td class="txt"><%= item.album.name %></td>
    <td class="txt"><%= item.genre %></td>
    <td class="txt"><%= item.format %></td>
    <td class="num"><%= item.current_stock_level %></td>
    <td class="num"><%= item.reorder_threshold %></td>
    <td class="num"><%= '%0.2f' % item.buy_price %></td>
    <td class="num"><%= '%0.2f' % item.sell_price %></td>
    <td class="num"><%= item.margin %></td>
    <td class="txt"><a href="/stock/<%= item.id %>/edit?alert=none">Edit</a></td>
  </tr>
  <% end %>
</table>

<a href="/stock/new">Add New Stock Item</a>