<% @page_title = "Add Stock Item" %>

<form action="/stock/new" method="post" >
  <fieldset>
    <legend>New Stock Item</legend>
    
    <label for="album">Album: </label>
    <select name="album_id">
      <% @albums.each do |album| %>
      <option value = "<%= album.id %>"><%= album.artist.name %> - <%= album.name %></option>
      <% end %>   
      </select><br>

    <% formats = ["Vinyl", "CD", "Tape"] %>
    <label for="format">Format: </label>
    <select name="format">
      <% formats.each do |format| %>
      <option value="<%= format %>"><%= format %></option>
      <% end %>
    </select><br>

    <label for="buy_price">Purchase Price (£): </label>
    <input type="number" min="0" step="0.01" value="0" name="buy_price"><br>

    <label for="sell_price">Sell Price (£): </label>
    <input type="number" min="0" step="0.01" value="0" name="sell_price"><br>

    <label for="current_stock_level">Initial Stock Level: </label>
    <input type="number" min="0" value="0" name="current_stock_level"><br>

    <label for="reorder_threshold">Minimum Stock Level: </label>
    <input type="number" min="0" value="2" name="reorder_threshold"><br>

    <input type="submit" value="Add Stock Item"><br>
  </fieldset>
</form>