<% @page_title = "#{@album.name}" %>

<p>Title: <%= @album.name %> <a href="/artists/<%= @album.artist.id %>/albums/<%= @album.id %>/edit">Edit</a></p>
<p>By: <a href="/artists/<%= @album.artist.id %>"><%= @album.artist.name %></a></p>

<a href="/artists/<%= @album.artist.id %>/albums/<%= @album.id %>/delete">Delete</a>

<a href="/stock/:album_id/"></a>

<a href="/stock/new">Add New Stock Item</a>